.header {
    z-index: 100;

    margin: 0 auto;
    max-width: 1408px;
    width: calc(100% - 32px);

    border: 0.50px solid rgba(18, 22, 27, 0.1);
    border-radius: 60px;

    backdrop-filter: blur(15px);
    box-shadow: 0 2px 72px 0 rgba(21, 22, 25, 0.2), 0 2px 15px 0 rgba(21, 22, 25, 0.02);
    background: rgba(255, 255, 255, 0.8);
}

.sticky {
    position: sticky;
    top: 16px;
}

.fixed {
    position: fixed;
    top: 16px;
    left: 16px;
    right: 16px;
}

.static {
    position: relative;
    top: auto;
    margin-top: 16px;
}

.container {
    padding: 10px 16px 10px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}